@charset "ISO-8859-1";




body {
    
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color:orange;
   
}


.container {
  padding: 20px 200px ;
  font-family: Verdana;
  color: black;
}


 input[type=text], input[type=password], input[type=email] ,select{
  width: 50%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline;
   
 
  background: white;
}

.signupbtn
{
 float: left;
  width:90px;
  margin-left:30px;
   padding:7px 10px;
  background-color: green;
  
}
.cancelbtn  {
  float: right;
  width:90px;
  margin-left:30px;
   padding:2px 4px;
   
  background-color: red;
  
}