<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Covid19_patient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mainpage</display-name>
    <servlet-name>mainpage</servlet-name>
    <servlet-class>p1.mainpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainpage</servlet-name>
    <url-pattern>/mainpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ambulance</display-name>
    <servlet-name>ambulance</servlet-name>
    <servlet-class>p1.ambulance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ambulance</servlet-name>
    <url-pattern>/ambulance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>covidpatient</display-name>
    <servlet-name>covidpatient</servlet-name>
    <servlet-class>p1.covidpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>covidpatient</servlet-name>
    <url-pattern>/covidpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>p1.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcovid</display-name>
    <servlet-name>viewcovid</servlet-name>
    <servlet-class>p1.viewcovid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcovid</servlet-name>
    <url-pattern>/viewcovid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewambulance</display-name>
    <servlet-name>viewambulance</servlet-name>
    <servlet-class>p1.viewambulance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewambulance</servlet-name>
    <url-pattern>/viewambulance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>otherpatient</display-name>
    <servlet-name>otherpatient</servlet-name>
    <servlet-class>p1.otherpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>otherpatient</servlet-name>
    <url-pattern>/otherpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecovid</display-name>
    <servlet-name>deletecovid</servlet-name>
    <servlet-class>p1.deletecovid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecovid</servlet-name>
    <url-pattern>/deletecovid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteambu</display-name>
    <servlet-name>deleteambu</servlet-name>
    <servlet-class>p1.deleteambu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteambu</servlet-name>
    <url-pattern>/deleteambu</url-pattern>
  </servlet-mapping>
</web-app>